@import url('https://fonts.cdnfonts.com/css/roboto');
html {
  font-family: 'Roboto', sans-serif;
}
.flexy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt- {
  &0 {
    margin-top: 0;
  }
  &1 {
    margin-top: 1rem;
  }
  &2 {
    margin-top: 2rem;
  }
  &3 {
    margin-top: 3rem;
  }
}
.button {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: rgb(139 92 246);
  color: #fff;
  border-radius: 0.5em;
  border: 0;
  font-family: inherit;
  font-weight: bold;
  font-size: 1em;
  transition: background 0.2s;
  cursor: pointer;

  &:hover {
    background: rgb(20 184 166);;
    color: #fff;
  }
}


/* The new CSS Reset - version 1.4.5 (last updated 13.1.2022) */
/* https://github.com/elad2412/the-new-css-reset/blob/main/css/reset.css */

 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* fix the feature of 'hidden' attribute.
 display:revert; revert to element instead of attribute */
:where([hidden]){
  display:none;
}

/* revert for bug in Chromium browsers
 - fix for the content editable attribute will work properly. */
:where([contenteditable]){
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}
